*{
  padding: 0;
  margin: 0;
}

body{
  background-color: hsl(30, 38%, 92%);
  min-height: 100vh;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}

/* PRODUCT CONTAINER */

main{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.product-container{
  width: 600px;
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
}

img{
  flex: 1 0 50%;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  object-fit: cover;
}

.product-info-container{
  padding: 35px;
}

.perfume{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: hsl(228, 12%, 48%);
  margin-bottom: 20px;
}

.product-title{
  font-family: 'Fraunces', serif;
  font-size: 40px;
  margin-bottom: 20px;
}

.product-info{
  /* width: 200px; */
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  color: hsl(228, 12%, 48%);
  margin-bottom: 20px;
}

/* PRICES */

.prices{
  display: flex;
  justify-content: start;
  gap: 25px;
  align-items: center;
  margin-bottom: 20px;
}

div.prices > p:nth-child(1){
  font-family: 'Fraunces', serif;
  font-size: 40px;
  color: hsl(158, 36%, 37%);
}

div.prices > p:nth-child(2){
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  text-decoration: line-through;
  color: hsl(228, 12%, 48%);
}

/* BUTTON ADD TO CART */

.add-to-cart{
  width: 100%;
  height: 60px;
  background-color: hsl(158, 36%, 37%);
  color: white;
  border: none;
  border-radius: 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover{
  background-color: hsl(158, 45%, 20%);
}

button:active{
  background-color: hsl(158, 45%, 20%);

}

svg{
  margin-right: 8px;
}

/* RESPONSIVE CONFIG */

@media only screen and (max-width: 600px){
  .product-container{
    flex-direction: column;
    width: 400px;
  }

  h2{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .prices{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  img{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
  }
}